#header {
	font-size: x-large;
	background-color: greenyellow;
	display: table;	
	padding: 2%;
	border-radius: 5px;
}
#main {
	display: table;	
	text-align: left;
}
#error {
	background-color: red;
	display: table;	
}
#login {
	text-align: right;
    margin-bottom: -20px;
}
fieldset {
	border: none;
}

label::after {
	content: "";
	display: block;
}